/* stylesheet for AD */

@media all and (min-width: 1153px) {
	.pr-logo {
		font-size: 32em !important;
	}
}

@media all and (max-width: 768px) {
	.pr-logo {
		display: none !important;
	}
}

@media all and (max-width: 1152px) {
	.wdt_tablet {
		width: 60%;
	}
}

@media all and (max-width: 767px) {
	.wdt_mobile {
		width: 100%;
	}
}